
.hamburger {
    display: none;
    color: black;
    font-size: 47px;
    margin-right: 20px;
}

.side-bar {
    background-color: black;
    // height: 150px;
    color: white;
    // margin-top: 250px;
}

li{
    margin-bottom: 10px;
    font-size: 20px;
}