.margin-left {
    margin-left: 15px;
}

.margin-left-strong {
    margin-left: 50px;
}

.margin-right {
    margin-right: 15px;
}

.color-white {
    color: white;
}

.font-size-medium{
    font-size: 55px;
}

.bold {

    font-weight: bold;
}