@media screen and (min-width: 600px) {
  .main-container {
    width: 100% !important;
  }

  .hamburger {
    display: block;
    width: 200px;
    height: 0px;
    color: black;
    position: absolute;
    transform: translate(1056px, -35px);
    font-size: 47px;
  }
  body {
    background-color: lightblue;
  }

  .search-container{
    width: 100px;
  }
  .side-bar {
    transform: translate(-60px, 68px);
    height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}


